.App {
  padding: 25px;

  .directions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 25px;

    .direction {
      width: calc(50% - 18px);
    }
  }

  .btn {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .logs-list {
    display: flex;
    flex-direction: column;

    .log-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      margin-top: 15px;

      div {
        margin-right: 25px;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
